/* Webfont: Poppins-Regular */@font-face {
    font-family: 'Poppins';
    src: url('/dist/font/Poppins-Regular.ttf'); /* chrome上可以正常使用*/
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Poppins-SemiBold */@font-face {
    font-family: 'Poppins';
    src: url('/dist/font/Poppins-SemiBold.ttf'); /* chrome上可以正常使用*/
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Poppins-Bold */@font-face {
    font-family: 'Poppins';
    src: url('/dist/font/Poppins-Bold.ttf'); /* chrome上可以正常使用*/
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
/* Webfont: bentham-regular */@font-face {
    font-family: 'Bentham';
    src: url('/dist/font/Bentham-Regular.ttf'); /* chrome上可以正常使用*/
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
/* Webfont: bentham-regular */@font-face {
    font-family: 'Bentham';
    src: url('/dist/font/Bentham-Regular.ttf'); /* chrome上可以正常使用*/
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}